
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@model IEnumerable<WEB.Models.StudentViewModel>

@{
    ViewBag.Title = "Index";
    int count = 0;
}

@*<h2>@User.Identity.Name</h2>*@
@*<h2>@ЕTeacher.Identity.Lesson</h2>*@
<h2>Алгоритми та структури даних</h2>
@*<h4>@DateTime.Now.Day @DateTime.Now.Month  @DateTime.Now.Hour:@DateTime.Now.Minute </h4>*@

<h4>@DateTime.Now.Day Лютого    @DateTime.Now.Hour:@DateTime.Now.Minute </h4>
@*<h3>Student.Group</h3>*@
<h3>Група 501</h3>

@using (Html.BeginForm("Casy", "Home"))
{
    foreach (var item in Model)
    {
        count++;
        <tr>
            <td>
                <div class="form-group">
                    @*@Html.CheckBoxFor(modelItem => item.IsPresent) відсутній*@
                    @Html.DisplayFor(c => count))
                    @Html.DisplayFor(Model => item.Surname)
                    @Html.DisplayFor(Model => item.Name)
                  
                    @Html.CheckBoxFor(modelItem => item.IsPresent)
                </div>
            </td>
        </tr>
    }
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Зберегти" class="btn btn-default" />
    </div>
}

